.custom-img {
    width: 90%;
    height: 90%;
    max-width: 70px;
    max-height: 70px;
}
.faces-img {
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}
.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 64px;
}